.front-card{
    position: relative;
    background-image: url('../Assets/bg-card-front.png');
    background-repeat: no-repeat;
    height: 245px;
    width: 447px;
    padding: 2rem;
    color: white;
    box-sizing:border-box;
}

.front-card > *{
    flex-grow: 1;
}

.logo{
    width: 70px;
    height: 40px;
}

.data-content{
    position: absolute;
    width: 100%;
    bottom: 2rem;
    font-size: 0.9rem;
}

.date{
    display: flex;
    justify-content: space-between;
    font-size: 0.5rem;
    margin-top: 1rem;
    width: 85%;
}